<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <title>个人注册</title>
    <link type="text/css" rel="stylesheet" href="css/register.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/addMethod.js"></script>
</head>
<body>
<div id="form-header" class="header">
    <div class="logo-con w clearfix">
        <a href="#" class="logo">
        </a>
        <div class="logo-title">重置密码</div>
    </div>
</div>
<div class="container w">
    <div class="main clearfix" id="form-main">
        <form action="" id="reset-password" method="post">
            <div class ="form-group">
                <div class="form-item">
                    <label>设 置 密 码</label>
                    <input type="password" name="password" id="reset-pwd" class="item-text" placeholder="建议至少使用两种字符组合">
                </div>
            </div>

            <div class ="form-group">
                <div class="form-item">
                    <label>确 认 密 码</label>
                    <input type="password" name="confirm_password" id="reset-equalTopwd" class="item-text" placeholder="请再次输入密码">
                </div>
            </div>

            <div>
                <button type="submit" class="btn-register">确定</button>
            </div>

        </form>
    </div>
</div>
<script src="js/rpassword.js"></script>
</body>
</html>


