body {
    height: 500px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;

    padding: 10px;
    overflow: hidden;
    display: flex; /*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items: center; /*指定垂直居中*/
    background-color: rgb(249, 249, 249);
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content img, .content .content-btn, .content .content-description {
    margin-top: 14px;
}

.content img {
    margin: 0px auto;
    height: 200px;
}

.content .content-btn {
    height: 30px;
    line-height: 30px;
}

.content .content-description {
    font-size: 20px;
    font-weight: bold;
    font-family: "Adobe 楷体 Std R";
    color: #000000;
}

.content-btn a {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    margin-right: 15px;
    padding: 3px 5px;
}

.content-btn .btn1 {
    border: 1px solid #999999;

}

.content-btn a:hover {
    color: #565c60;
}
